# BASIC PRE-PROCESSING - {"CUSTOMER CHURN" DATASET}

## 1. Import Modules and Configuration Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
# PD Options

pd.set_option('display.min_rows', 5)
pd.set_option('display.max_rows', 25)
pd.set_option('display.precision', 4)

## 2. Import Dataset

In [3]:
data = pd.read_csv('cc_train.csv')
df = data.copy()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4250 entries, 0 to 4249
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   state                          4250 non-null   object
 1   account_length                 4250 non-null   int64
 2   area_code                      4250 non-null   object
 3   international_plan             4250 non-null   object
 4   voice_mail_plan                4250 non-null   object
 5   number_vmail_messages          4250 non-null   int64
 6   total_day_minutes              4250 non-null   float64
 7   total_day_calls                4250 non-null   int64
 8   total_day_charge               4250 non-null   float64
 9   total_eve_minutes              4250 non-null   float64
 10  total_eve_calls                4250 non-null   int64
 11  total_eve_charge               4250 non-null   float64
 12  total_night_minutes            4250 non-null   float64
 13  total_night_calls              4250 non-null   int64
 14  total_night_charge             4250 non-null   float64
 15  total_intl_minutes             4250 non-null   float64
 16  total_intl_calls               4250 non-null   int64
 17  total_intl_charge              4250 non-null   float64
 18  number_customer_service_calls  4250 non-null   int64
 19  churn                          4250 non-null   object
dtypes: float64(8), int64(7), object(5)
memory usage: 664.2+ KB

In [5]:
df.head()

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no

## 3. Basic Data Pre-Processing After Data Assessment Process
#### Note: Nothing to pre-process

## 4. Saving the Processed Data to CSV File and PKL File

In [6]:
def train_test_split_CLF(fdf, target, ts):
    
    print(f'Separating X and y from dataframe ----------------------------------------------------------------------------- \n')
    X = fdf.drop(columns=[target])
    y = fdf[target]
 
    
    print(f'Creating Train and Test datasets ----------------------------------------------------------- \n') 
    Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=ts, random_state=25, stratify=y)   # test size in number of samples
              
    
    print(f'Creating Train and Test dataframes as outputs --------------------------------------------------- \n')
    df_train = pd.concat([Xtrain, ytrain], axis=1)
       
    df_test = pd.concat([Xtest, ytest], axis=1)
    
    print(f'Data Splitting Done ... --------------------------------------------------------------------------------------- \n')
        
    return df_train, df_test

In [7]:
train, test = train_test_split_CLF(df, 'churn', 100)

Separating X and y from dataframe -----------------------------------------------------------------------------

Creating Main[Train + Validation] and Test datasets -----------------------------------------------------------

Creating Train and Test dataframes as outputs ---------------------------------------------------

Data Splitting Done ... ---------------------------------------------------------------------------------------

In [8]:
def train_test_save_CSV_PKL(tr, te):
    tr.to_csv('cc_train_pp.csv', index=False)
    tr.to_pickle('cc_train_pp.pkl')
    
    te.to_csv('cc_test_pp.csv', index=False)
    te.to_pickle('cc_test_pp.pkl')
    
    print(f'Train and Test files created successfully ...')

In [9]:
train_test_save_CSV_PKL(train, test)

Train, Validation, and Test files created successfully ...